/*
Colours: 
Yellows: B39E66, FFEFC4, FFE9AB
BLUES: 5469B3, ABBEFF
*/

body {
	background-color: #FFE9AB;
}

header {
	background-color: #5469B3;
	min-height: 6rem;
	padding: 1em 0;
}

.container {
	background-color: rgba(255,255,255, 0.12);
	margin-top: 0;
	padding: 2em 0;
	z-index: 50
}

/* Fonts */
h1, h2, h3, th{
	color: white;
	font-family: 'Lacquer', sans-serif;
}

p, table, td, button, input, label {	
	font-family: 'Indie Flower', cursive;
	font-size: 1.25rem;
}

h1 {
	margin: 0 1.5em;
}

h2 {
	background-color: #5469B3;
	min-height: 3em;
	padding: 1rem 0 1rem 1rem;
}

img[src="dawgeyes.svg"] {
	margin: 0 2em 2em;
	z-index: 100;
    float: left;
    position: relative;
    top: 3rem;
}

p {
	margin-left: 2em; 
}
th {
	color: black;
	font-size: 1.5rem;
	width:33%;
}

#goalsForm, #toDoForm {
	border-bottom: 3px solid #ABBEFF;
	margin: 2em;
}

#goalsForm {
    min-height: 280px;
}

#goalsForm div {
    min-height: 92px;
}

#goalsForm h3 {
	color: #5469B3;
    margin-bottom: 0.5rem;
}

#goalsForm label {
    display: block;
    font-size: 1.5rem;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ABBEFF; 
    border-radius: 3px;
}

input[type=text]:focus {
    border-color:#5469B3;
}

#toDoInput {
	margin-bottom: 1em;
}

button {
	margin:0 0.75rem 0.5rem;
}

td button {
    font-size: 1rem;
}

table {
  border-collapse: collapse;
  width: calc(100% - 4rem);
  margin: 0 2rem 5rem;
}

td, th {
  border: 2px solid #B39E66;
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #FFEFC4;
}

tr:nth-child(even) {
  background-color: #ABBEFF;
}
#changeToDoInput {
	width: 90%;
}

/* Background animation */

.area{  
    width: 100%;
    height:100vh;
    position: fixed;
    z-index: -10;
}

.cats{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.cats li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-image: url(images/Alfreda.svg);
    background-repeat: no-repeat;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.cats li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.cats li:nth-child(2){
    left: 10%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.cats li:nth-child(3){
    left: 70%;
    width: 60px;
    height: 60px;
    animation-delay: 4s;
}

.cats li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.cats li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.cats li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.cats li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.cats li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.cats li:nth-child(9){
    left: 20%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.cats li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* End of background animation */