/*
Colours: 
Yellows: B39E66, FFEFC4, FFE9AB
BLUES: 5469B3, ABBEFF
*/

body {
	background-color: #FFE9AB;
}

header {
	background-color: #5469B3;
	min-height: 6rem;
	padding: 1em 0;
}
.container {
	background-color: #fff;
	margin-top: 0;
	padding: 2em 0;
}

/* Fonts */
h1, h2, h3, th{
	color: white;
	font-family: 'Lacquer', sans-serif;
}

p, table, td, button, input, label {	
	font-family: 'Indie Flower', cursive;
	font-size: 1.25rem;
}

h1 {
	margin-left: 1.5em;
}

h2 {
	background-color: #5469B3;
	min-height: 3em;
	padding: 1rem 0 1rem 1rem;
}

img[src="dawgeyes.svg"] {
	margin: 0 2em 2em;
}

p {
	margin-left: 2em; 
}
th {
	color: black;
	font-size: 1.5em;
}

#goalsForm, #toDoForm {
	border-bottom: 3px solid #ABBEFF;
	margin: 2em;
}

#goalsForm h3 {
	color: #5469B3;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ABBEFF; 
    border-radius: 3px;
}

input[type=text]:focus {
    border-color:#5469B3;
}

button {
	margin:0 1em 0.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #B39E66;
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #FFEFC4;
}

tr:nth-child(even) {
  background-color: #ABBEFF;
}
#changeToDoInput {
	width: 90%;
}